@import url('https://files.bdph.me/reset.css');
@import url('../assets/fonts/museo.css');
@import url('./story.css');

:root {
  --background-color: #251319;
}

body {
  height: 100vh;
  overscroll-behavior: none;
  font-family: 'Museo', sans-serif;
}

#wanned {
  background-color: var(--background-color);
  display: block;
}

#fog {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 0.3) 80%
  );
}
