:root {
  --menu-bg-position-start: 0;
  --menu-bg-position-end: 100;
}

@keyframes bg-animation {
  0% {
    background-position: var(--menu-bg-position-start);
  }
  100% {
    background-position: var(--menu-bg-position-end);
  }
}

.menu {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;

  transition: opacity 0.5s ease;

  image-rendering: pixelated;
  background-size: 200%;
  background-image: url('../assets/images/anim_background.png');

  animation: bg-animation 5s infinite;
}

.menu.hide {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.menu h1 {
  padding: 3rem;
  padding-top: 0;
  font-size: 10rem;
}

.menu button {
  font-size: 2rem;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 2rem;
}

.menu-buttons.hide {
  display: none;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: white;
  border: 4px solid white;

  transition: transform 0.4s ease;

  width: fit-content;
  min-width: 100%;
  padding: 1.5rem;
}

.menu-button:hover {
  transform: scale(1.05);

  color: var(--button-hover-color);
  border: 4px solid var(--button-hover-color);
}

.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 30px;
  margin-bottom: 20px;
}

.back-button {
  margin-top: 3rem;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2rem;

  background-color: transparent;
  color: white;

  border: 4px solid white;
  font-size: 4rem;

  width: 50%;

  padding: 1rem;
}

<<<<<<< Updated upstream
.confirm-container p {
  font-size: 3rem;
  text-align: center;
}

=======
.credits-container.hide,
>>>>>>> Stashed changes
.confirm-container.hide {
  display: none;
}

.confirm-buttons {
  display: flex;
  justify-content: space-around;

  width: 100%;
}

.yes,
.no {
  padding: 10px;
}

.yes:hover,
.no:hover {
  transform: scale(1.05);
  color: var(--button-hover-color);
}
