@font-face {
  font-family: 'Museo';
  font-weight: 100;
  src: url('./museo-thin.otf');
}

@font-face {
  font-family: 'Museo';
  font-weight: 300;
  src: url('./museo-light.otf');
}

@font-face {
  font-family: 'Museo';
  font-weight: 500;
  src: url('./museo-medium.otf');
}

@font-face {
  font-family: 'Museo';
  font-weight: 700;
  src: url('./museo-bold.otf');
}
